<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fred.dao.UserMapper">
    <resultMap id="userMap" type="com.fred.bean.User">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>

    <sql id="Base_Column_List">
    user_id, username, password, email
  </sql>

<!--    查询用户信息-->
    <select id="selectUserByPrimaryKey" resultMap="userMap">
        select *
        from t_user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectUser" resultMap="userMap">
        select *
        from t_user
    </select>

<!--    插入用户信息-->
    <insert id="insertSelective" parameterType="com.fred.bean.User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="username">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email">
                #{email,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>